personinfo.xsd

<xs:schema targetNamespace="http://soap.epam.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="personInfoRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="surname" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="personInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="surname" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>