personinfo.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="personinfo" targetNamespace="http://soap.epam.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.epam.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema targetNamespace="http://soap.epam.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="personInfoRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="surname" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="personInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="surname" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getInfoResponse">
    <wsdl:part name="return" type="tns:personInfoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getInfo">
    <wsdl:part name="arg0" type="tns:personInfoRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PersonInfoService">
    <wsdl:operation name="getInfo">
      <wsdl:input message="tns:getInfo" name="getInfo">
    </wsdl:input>
      <wsdl:output message="tns:getInfoResponse" name="getInfoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="personinfoSoapBinding" type="tns:PersonInfoService">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getInfo">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="getInfo">
        <soap:body namespace="http://soap.epam.com/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getInfoResponse">
        <soap:body namespace="http://soap.epam.com/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="personinfo">
    <wsdl:port binding="tns:personinfoSoapBinding" name="PersonInfoServiceImplPort">
      <soap:address location="http://localhost:9000/personinfo"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>